@import "reset";
@import "fonts";
@import "pallete";
@import "scroll";

html {
    font-size: 8px;
    height: 100%;
}

body {
    min-width: 40rem;
    height: 100%;
    overflow: auto;
    background-color: $c_general_background;
    color: $c_default_text_color;
    font: {
        family: 'Roboto', sans-serif;
        weight: 300;
        size: 18px;
    }
}

@include scrollbars(1rem, $c_common_button_back, 2rem, transparent);

@import "@components/Header/HeaderStyle.scss";

.main-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;

    @import "@components/QuickFiltersMenu/QuickFiltersMenuStyle.scss";
    @import "@components/CocktailsList/CocktailsListStyle.scss";

}

@import "@components/Footer/FooterStyle.scss";

//
//@media (min-width: 320px) and (max-width: 767px) {
//    .container {
//        max-width: 40rem;
//    }
//}
