//main
$c_general_background: #201F2E;
$c_default_text_color: #C4C1CF;
$c_highlight_text_color: white;
$c_footer_background: #0E0D13;
$c_badge_background: #0E0D13;
$c_card_line_gradient_start: #0E0D13E5;
$c_card_line_gradient_end: #00000000;
// button
$c_common_button_back: #44414E;
$c_common_button_text: #C4C1CF;
// button hover
$c_common_button_back_hover: #353240;
$c_common_button_text_hover: #E9E6F2;
// button active
$c_common_button_back_active: #120E20;
$c_common_button_text_active: #FF005C;
$c_common_button_border_active: #FF005C;
// loader
$c_loader_back: #00000066;
$c_loader_text: #C4C1CF;
$c_loader_text_back: #0E0D13E5;
