$c_general_background: #201F2E;
$c_default_text_color: #C4C1CF;
$c_highlight_text_color: white;
$c_footer_background: #0E0D13;
$c_badge_background: #0E0D13;
$c_card_line_gradient_start: #0E0D13E5;
$c_card_line_gradient_end: #00000000;
